<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book List</title>
</head>
<body>
<h2>Book List</h2>
<ul>
    {% for book in books %}
        <li>
    	<p>Title: <span>{{ book.title }}</span></p>
        <p>Author: <span>{{ book.author }}</span></p>
        <p>ISBN: <span>{{ book.isbn }}</span></p>
        <p>Summary: <span>{{ book.summary }}</span></p>
        <p>Genre: <span>{{ book.genre }}</span></p>
        <p>Published: <span>{{ book.publish_date }}</span></p>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'add' %}">Add Book</a>
</body>
</html>