<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Form</title>
</head>
<body>
<h2>Book Form</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="Add">
</form>
<a href="{% url 'list' %}">See Book List</a>
</body>
</html>